.Select {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #6600ff 0%, #c500cc 100%);
  padding: 5px 10px;
  border: 0px solid #c500cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
  margin: 10px;
}
.option {
  background-color: #c500cc;
}
