@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.Body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url("../image/backneon.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.todok{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./ok.svg");
  background-color: rgba(0, 0, 0, 0.675);
  width: 500px;
  height: 500px;
  border-radius: 500px;

}
.todo {

  font-family: "Nunito", sans-serif;
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.form {
  display: flex;
  flex-direction: row;
  background-color: rgba(92, 8, 218, 0.88);
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: aqua;
  box-shadow: 2px -1px 50px 4px #c500cc;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(90deg, #6600ff 0%, #c500cc 100%);
  padding: 10px 3px;
  border: 0px solid #c500cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
}

.btn:hover {
transition: 1000ms;
padding: 10px 14px;
transform: translateY(-0px);
background-color: #fff;
color: #fff;
border: solid 0px #ffffff;
}
.a{
  margin-top: 10px;
  display: flex;

  flex-direction: column;
  gap: 5px;
  align-items: center;

}
.send{
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, #6600ff 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 0px solid #c500cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.send:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #fff;
  border: solid 0px #ffffff;
  }
  .SendBtn{
    display: flex;
    display: flex;
    width: 100%;
    justify-content: center;
    
  }
  .TitleDiv{
    display: flex;
    width: 100%;
    justify-content: center;

  }
  .Platform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .Platformcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .Par{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }