.body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-image: url("../image/wall.svg");
}
@media (min-width: 700px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
}
.render {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 90px;
}
.titlediv {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  flex-wrap: nowrap;
  margin-left: 10px;
}
.img {
  width: 200px;
  height: 100px;
}
.searchdiv {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  transition: 1000ms;
}
.searchdiv:hover {
  transition: 1000ms;
  width: 400px;
}
.input {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: solid 2px rgb(124, 123, 123);
  height: 40px;
  width: 300px;
}
.divbtn {
  width: auto;
  height: auto;
  margin: 40px;
}
.btn {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, #6600ff 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 0px solid #c500cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
  margin: 10px;
}
.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #fff;
  border: solid 0px #ffffff;
}
@media (max-width: 700px) {
  .contenedor {
    flex-direction: column;
    height: auto;
  }
}
.label {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
